<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial</title>
    <link rel="stylesheet" href='{% static 'home.css' %}'>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="home">Home</a>
            </li>
            <li>
                <a href="about_us">About Us</a>
            </li>
            <li>
                <a href="contact_us">Contact Us</a>
            </li>
            <li>
                <a href="login">Login</a>
            </li>
            <li>
                <a href="logout">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <img src='{% static 'college.jpeg' %}' class="image" width = "1480px" height = "auto" >
        <div class="middle">
          <div class="text">ABC College</div>
        </div>
      </div>

      <div style="float: left;">
        <h1 class="button">
            Vision
        </h1>
        <p class = "button4">
        To develop professionally competent and socially responsible human resources by
        imparting quality education in the field of engineering and technology.
        </p>
      </div>

    <div class="button2">
        Welcome to ABC Engineering and Technology College
        
    </div>

    <h1 class = "button3" style="float: left;">
        Principal Desk
    </h1>

    <div class="bucket">
    <p>
        ABC Engineering & Technology College was established in the year 
        2004 under the aegis of ABC Engineering & Technology College Society, 
        covering a land of 10.378 acres with a simple vision – To facilitate creating 
        innovative, professionally competent and research oriented future engineers who
         would be able to face the challenges of cutting edge technologies and thereby 
         forming a prosperous and sustainable global society. ABC is an ISO 9001:2008; 
         ISO 14001:2004; OHSAS 18001:2007 certified self-financed and non-profitable 
         degree engineering college, affiliated to Maulana Abul Kalam Azad University 
         of Technology (MAKAUT) Kolkata and it’s academic courses are approved by All 
         India Council for Technical Education (AICTE).

        The college follows a unique pedagogy to ensure its students in having the 
        opportunity to face the rigors of ever-changing demands of real-world situations. 
        It is again supplemented by on-going and regular interaction with business and 
        industry leaders, providing the students a practical platform to assess and 
        experience the application and effective results of what is taught as concepts 
        in their classrooms.
        
        The faculty members are experts at integrating knowledge with competitive 
        insights and practical applications. Their experience is drawn from superior 
        academic backgrounds and their industry experience with a wide variety of 
        organizations. The diversity of our faculty and the supportive teaching-learning 
        environment results into a unique, valuable and powerful learning experience. 
        Presently five B.Tech Courses (CSE, ECE, CE, EE and ME,) are being offered by 
        this college. Besides a team of full-time dedicated qualified faculty members 
        in the relevant branches of engineering, the other assets of the college include 
        a well developed central library, a sprawling workshop complex, a state-of-
        the-art English Communication Skill Development Laboratory and several well 
        developed Computer, Electronics, Electrical, Civil and Mechanical laboratories.
        
        The Training & Placement Cell of this college, with its qualified and dedicated 
        officials, provides appreciable placement assistance along with arrangement of 
        adequate in-house and external industrial training which help students to excel 
        in their on and off campus interviews.
        
        I welcome the aspiring engineers in choosing this college so as to fulfil their 
        dream to attain heights of glory and wish them all the best in their career.
        </p>
    </div>

    <div class="container2">
        <h1 class = "button">
            Mission
        </h1>

        <p class ="button4">
            To impart learner-centric and comprehensive education that fosters holistic growth and encourages application of
            acquired knowledge in different areas of professional and social functioning, research and entrepreneurship.

            To create a dynamic and innovative teaching-learning process with focus on continuous up-gradation of teaching
            resources, tools and technologies.
        </p>
    </div>
    
    <div class="button5">
        <a href = "registration">CLICK HERE TO REGISTER</a>
    </div>
</body>
</html>